#!/bin/sh

# PROVIDE: pgadmin
# REQUIRE: LOGIN
# KEYWORD: shutdown

. /etc/rc.subr

name=hub
desc="Jetbrains hub"
rcvar=hub_enable

load_rc_config "${name}"

: ${hub_enable:=NO}

pidfile=/var/run/${name}/${name}.pid
logfile=/var/log/${name}.log
start_precmd=hub_prestart
start_cmd=hub_start
command=/usr/sbin/daemon
command_args="-P ${pidfile} -t pgadmin -o ${logfile} -u root /usr/local/hub-2018.2.9635/hub.sh run"


pgadmin_prestart()
{
        if [ ! -f "${logfile}" ]; then
                #install -o "${jenkins_user}" -g "${jenkins_group}" -m 640 /dev/null "${jenkins_log_file}"
                touch ${logfile}
        fi
        if [ ! -d "/var/run/${name}/" ]; then
                install -d -o "root" -g "wheel" -m 750 "/var/run/${name}"
        fi
}

pgadmin_start()
{
        check_startmsgs && echo "Starting ${name}."
        exec ${command} ${command_args}

}

run_rc_command "$1"
